{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" href="{% static 'site.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-pink">
        <a class="navbar-brand" href="{{ request.scheme }}://{{ request.get_host }}">
            <img src="/static/logo.png" width="32" height="32" class="d-inline-block align-top" alt=""> Мой университет
        </a>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-outline-light" href="{{ request.scheme }}://{{ request.get_host }}">На главную</a>
            </li>
        </ul>
        <div class="nav-item">
                <a class="btn btn-outline-light" href="{{ request.scheme }}://{{ request.get_host }}/admin">Войти</a>
        </div>
    </nav>
</div>

<body>
    <div class="container">
        <br>
        <div style="background: rgba(242, 242, 242, 0.7) !important" class="jumbotron">
            <p style="text-align: center; font-size: 32px" class="container">Привет, пользователь</p>
            <p style="text-align: center; font-size: 24px" class="lead">Это учебное приложение на Django. Что у нас есть:</p>
            <br>
            <div class="row">
                <div style="text-align: center" class="col-12 col-md-6">
                    <form>
                        <p><a href="Entities/" class="btn btn-secondary btn-lg">Учебные материалы</a></p>
                    </form>
                </div>
                <div style="text-align: center" class="col-md-6">
                    <form>
                        <p><a href="Types/" class="btn btn-secondary btn-lg align-center">Категории материалов</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Атрохов Антон | {% now "jS F Y" %}</p>
    </div>
</footer>

</body>
</html>
